/*********** PROJECT CUSTOM RESETS ***********/
button {
	border: none;
	appearance: none;
	background-color: transparent;
	outline: none;
}
ul{
	list-style: none;
}
/*********** ELEMENTS ***********/
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	background-color: white;
	font-weight: $light;
	color: $blue-dark;
	overflow-x: hidden; //Prevents horizontal scrolling caused by the off-canvas menu

	/*** PRÁCTICA STEP 1:
	FOOTER SIEMPRE ABAJO:
	BODY -> DISPLAY FLEX
			+FLEX COLUMN
			+MIN-HEIGHT 100VH
	MAIN -> FLEX-GROW:1
	***/
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&.no-scroll {
		overflow: hidden;
	}
}

h1,
h2,
h3 {
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Biryani';
}

h2,
h3 {
	letter-spacing: .05em;
}

/******** GLOBAL CLASSES ********/
.svg {
	width: 100%;
	height: 100%;
	display: block;
}



/******** SECTIONS ********/
//HEADER
.header {
	&--main {
		/*** PRÁCTICA STEP 2:
		HEADER FIXED:
			- POSITION FIXED PARA EL HEADER
			  (ojo, pongamos todo: alto, ancho, coordenadas y z-index)
			- MARGIN TOP DEL MISMO ALTO EN EL CONTENIDO
			  PARA QUE NO SE TAPE.
		***/
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;

		background-color: #fff;
		font-size: .85em;
		font-weight: $bold;
	}
	&__wrapper {
		@include wrapper(85%, rem(1200));
		height: $header-height;

		/*** PRÁCTICA STEP 1:
		EL HEADER ES UN FLEXBOX PARA CENTRAR EN
		VERTICAL LOS ELEMENTOS Y DISTRIBUIRLOS
		EN HORIZONTAL: LOGO AUN LADO, MENÚ BUTTON
		AL OTRO LADO.
		***/
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.logo {
	color: $blue-dark;
	font-size: 1.1rem;

	/*** PRÁCTICA STEP 1:
	EL LOGO ES OTRO FLEXBOX PARA CENTRAR
	EL NOMBRE Y EL ICONO EN VERTICAL
	***/
	display: flex;
	align-items: center;

	&__icon {
		height: rem(48);
		width: rem(40);
		margin-right: .5rem;
	}
	&__text {
		position: relative;
		top: 0.1em;
	}
}

.menu {
	background: $blue;
    position: fixed;
	top: $header-height;
	left: 0;
    width: 100%;
    text-align: center;
	height: 100vh;
	padding-top: 3em;
	list-style: none;

	transform: translateX(100%);
	transition: transform .6s;
	&.is-visible {
		transform: translateX(0)
	}
	&__button {
		text-transform: uppercase;
		font-weight: bold;
		padding: 1em;

		/*** PRÁCTICA STEP 1:
		MOVEMOS EL BOTÓN PARA QUE ESTÉ
		VISUALMENTE ALINEADO
		***/
		position: relative;
		left: 1em;
	}
	&__item {
		font-size: 1.2em;
	}
	a {
		// - Los links los pongo como "block" para que puedan tener padding vertical y así
		//	 aumentar la zona activa del enlace.
		// - Además, el padding se lo doy al enlace, en vez de a los "li" por eso mismo.
		display: block;
		padding: 1.5em 0;
		color: white;
		letter-spacing: .05em;
	}
}

//SECTIONS
.main {
	/*** PRÁCTICA STEP 2:
	HEADER FIXED:
		- POSITION FIXED PARA EL HEADER
		- MARGIN TOP DEL MISMO ALTO EN EL CONTENIDO
			PARA QUE NO SE TAPE.
	***/
	margin-top: $header-height;

	/*** PRÁCTICA STEP 1:
	FOOTER SIEMPRE ABAJO
	***/
	flex-grow: 1;
}

.section {
	padding: 6rem 0;
	&__wrapper {
		@include wrapper(75%, rem(700));
	}
	h2 {
		font-size: 2em;
		text-align: center;
	}
}

//SECTION INTRO
.intro {
	background-color: $blue-dark;
	color: white;
	text-align: center;

	p:not(:last-child) {
		margin-bottom: 2em;
	}

	.svg-icon {
		width: rem(200);
		height: auto;
		margin-bottom: 3rem;
	}

	h2 {
		margin-bottom: 1.5rem;
	}
}

//SECTION TALKS
.talks {
	background-color: #F17C72;
	color: white;
	text-align: center;
	&__item {
		margin-bottom: 4rem;
	}
	&__icon {
		height: rem(150);
		width: rem(150);
		border-radius: 100%;
		margin-bottom: 2em;

		/*** PRÁCTICA STEP 2:
		CENTRAR ELEMENTOS HACIÉNDOLES
		COMPORTARSE COMO TEXTO
		***/
		display: inline-block;
	}
	h2 {
		margin-bottom: 2rem;
	}
}

.icon {
	&-light {
		background-color: #37394A;
		padding: 1.5rem;
	}

	&-mouse {
		background-color: $green;
		padding: 1.5rem;

		img {
			position: relative;
			left: rem(10);
		}
	}

	&-happy {
		background-color: $blue;
		padding: 2.2em;
	}

	&-diamond {
		background-color: $orange;
		padding: 2.2em;

		img {
			position: relative;
			top: rem(5);
		}
	}
}

//SECTION SPONSORS
.sponsors {
	text-align: center;
	&__grid {
		margin-top: 2rem;
	}
	&__item {
		background-repeat: no-repeat;
		background-size: 80% auto;
		background-position: center;
		height: 10rem;
		width: 100%;
		margin-bottom: 1rem;
	}
}
.sponsors-5 {
	background-size: 50% auto;
}


//FOOTER
.footer--main {
	background-color: $blue-dark;
	color: white;
	height: 10rem;

	/*** PRÁCTICA STEP 1:
	CENTRAR EN HORIZONTAL Y VERTICAL
	***/
	display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center
}

/*** PRÁCTICA STEP 3:
RESPONSIVE:
- MEDIA QUERIES MOBILE FIRST MIN-WIDTH
- SE "RESETEAN" LOS ESTILOS NECESARIOS Y SE PONEN LOS NUEVOS
***/
@media screen and (min-width: em(600)) {
	.menu {
		background-color: transparent;
		position: static;
		height: auto;
		padding-top: 0;
		transform: none;
		transition: none;

		/*** PRÁCTICA STEP 3:
		MENÚ DESKTOP:
		PONER COSAS UNAS AL LADO DE OTRAS -> FLEX
		***/
		display: flex;

		/*** PRÁCTICA STEP 3:
		IGUAL QUE CON EL BOTÓN "MENU",
		MUEVO EL MENÚ 1em PARA QUE SE
		ALINEE CON EL WRAPPER.
		***/
		position: relative;
		top: 0;
		left: 1em;

		&__button {
			display: none;
		}
		&__item {
			font-size: 1.2em;

		}
		a {
			padding: 1em;
			margin-left: 0.5em;
			color: $blue-dark;
		}
	}

	.talks {
		text-align: left;
		&__item {
			margin-bottom: 4rem;
			/*** PRÁCTICA STEP 3:
			ICONO + TEXTO -> UNA COSA AL LADO DE OTRA -> FLEXBOX
			***/
			display: flex;
			align-items: center;
			&:nth-child(2n) {
				flex-direction: row-reverse;
				text-align: right;
				.talks__icon {
					margin-right: 0;
					margin-left: 2em;
				}
			}
		}
		&__icon {
			margin-bottom: 0;
			margin-right: 2em;
			/*** PRÁCTICA STEP 3:
			PARA QUE NO SE ENCOJAN LOS ICONOS
			***/
			flex-shrink: 0;
		}
		h2 {
			margin-bottom: 2rem;
		}
	}

	/*** PRÁCTICA STEP 4:
	GRID LAYOUT
	***/
	.sponsors {
		&__grid {
			margin-top: 2rem;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: 12rem;
			grid-gap: 1rem;
			grid-auto-flow: dense;
		}
		&__item {
			height: auto;
			width: auto;
			margin-bottom: 0;
		}
	}
	.sponsors-1 {
		grid-column: span 3;
		background-size: 50% auto;
	}

	.sponsors-2,
	.sponsors-3,
	.sponsors-10 {
		grid-column: span 2;
	}
}